
.formTitle {
    color: white;
}

.formLabel {
    color: rgb(239, 239, 239)
}

.formButton {
    background-color: rgb(35, 35, 35);
    color: rgb(221, 221, 221);
    font-size: 12px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    text-align: center;
    border-radius: 2px;
    padding: 5px;
}

    .formButton:hover {
        color: white;
        font-size: 14px;
        border-color: rgb(45, 45, 45);
        background-color: rgb(51, 51, 51);
    }

.formDeleteButton {
    background-color: darkred;
    color: rgb(221, 221, 221);
    font-size: 12px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    text-align: center;
    border-radius: 2px;
    padding: 5px;
}

    .formDeleteButton:hover {
        color: white;
        font-size: 14px;
        border-color: rgb(45, 45, 45);
        background-color: red;
    }

.formLineEdit {
    padding: 5px;
    background-color: rgb(35, 35, 35);
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    border-color: rgb(25, 25, 25);
    color: white;
}

.itemTitle {
    color: rgb(232, 232, 232);
}




    .itemTitle:hover {
        color: rgb(255, 255, 255);
    }

.labelButton {
    color: rgb(221, 221, 221);
    font-size: 12px;
    border-style: none;
    text-align: right;
}

    .labelButton:hover {
        color: white;
        font-size: 14px;
    }

.labelButtonForm {
    color: rgb(221, 221, 221);
    font-size: 12px;
    border-style: none;
    text-align: left;
}

    .labelButtonForm:hover {
        color: white;
        font-size: 14px;
    }

.coverList {
    background-color: transparent;
}

    .coverList::item {
        background: transparent;
    }

        .coverList::item::selected {
            background: transparent;
        }

.sidebar {
    background-color: rgb(20, 20, 20);
    color: white
}

.sidebarButton {
    background-color: transparent;
}

    .sidebarButton:hover {
        border-style: none;
        background-color: qlineargradient( x1:0 y1:0, x2:1 y2:0, stop:0 rgb(20, 20, 20), stop:1 rgb(85, 0, 127));
    }

.formHolder {
    /*background-color: rgb(45, 45, 45);*/
    background-color: qlineargradient( x1:0 y1:0, x2:1 y2:0, stop:0 black, stop:0.15 rgb(30,30,30), stop:0.25 rgb(45,45,45));
}

.transparentFrame {
    background-color: transparent;
    border: 0;
}

QTabBar::tab {
    color: white;
    background: rgb(31,31,31);
    border: 1px solid rgb(85, 0, 127);
    border-bottom-color: transparent; /* same as the pane color */
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    min-width: 8ex;
    padding: 12px;
}

    QTabBar::tab:selected, QTabBar::tab:hover {
        background: rgb(45,45,45);
    }

    QTabBar::tab:selected {
        border-color: purple;
        border-bottom-color: rgb(45,45,45); /* same as pane color */
    }

    QTabBar::tab:!selected {
        margin-top: 2px; /* make non-selected tabs look smaller */
        border-bottom-color: purple; /* same as pane color */
    }


.gameInfoTab::pane {
    border: 1px solid purple;
    background: rgb(45,45,45);
}

QTabWidget::tab-bar {
    top: 1px;
}

.searchFiltersHolder {
    border-radius: 5px;
    background-color: rgba(0,0,0, 100);
}

QScrollBar:horizontal {
    
    background: transparent;
}

QScrollBar::handle:horizontal {
    background-color: rgba(59, 59, 59, 125);
    border-radius: 2px;
}

    QScrollBar::handle:horizontal:hover {
        background-color: qlineargradient( x1:0 y1:0, x2:1 y2:0, stop:0 rgb(59, 59, 59), stop:1 rgb(85, 0, 127));
        border-color: rgb(31, 31, 31);
        border-width: 1px;
        border-style: solid;
    }

QScrollBar::add-line:horizontal {
    border: none;
}

QScrollBar::sub-line:horizontal {
    border: none;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
    background: none;
}

QScrollBar:vertical {
    background: transparent;
}

QScrollBar::handle:vertical {
    background-color: rgba(59, 59, 59, 125);
    border-radius: 2px;
}

    QScrollBar::handle:vertical:hover {
        background-color: qlineargradient( x1:0 y1:0, x2:0 y2:1, stop:0 rgb(59, 59, 59), stop:1 rgb(85, 0, 127));
        border-color: rgb(31, 31, 31);
        border-width: 1px;
        border-style: solid;
    }

QScrollBar::add-line:vertical {
    border: none;
}

QScrollBar::sub-line:vertical {
    border: none;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}
/*
.formHolder * {
    background-color: transparent;
    color: white
}
*/
.coverListItem {
    margin-bottom: 20px;
    background-color: rgba(59, 59, 59, 125);
    border-radius: 4px;
}


    .coverListItem:hover { /*
    border: 1px solid rgb(85, 0, 127);
    background-color: rgba(70, 70, 70, 200);*/
        border-style: none;
        background-color: qlineargradient( x1:0 y1:0, x2:1 y2:1, stop:0.33 rgba(59, 59, 59, 200), stop:1 rgb(85, 0, 127, 200));
    }

.filtersCheckBox {
    color: rgb(200, 200, 200);
    spacing: 5px;
}
.filtersCheckBox::checked {
    color: white
}
    .filtersCheckBox::indicator {
        background-color: rgb(35,35,35);
        border-style: solid;
        border-width: 1px;
        border-radius: 2px;
        border-color: rgb(25, 25, 25);
    }
    .filtersCheckBox::indicator::checked {
        background-color: purple;
        border-radius: 2px;
        width: 4px;
        height: 4px;
    }

.filtersComboBox {
    padding: 5px;
    background-color: rgb(35, 35, 35);
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    border-color: rgb(25, 25, 25);
    color: white;
}



.filtersComboBox::drop-down {
    background-color:rgb(25, 25, 25);
}

    .filtersComboBox::down-arrow {
        
    }

.filtersLineEdit {
    padding: 5px;
    background-color: rgb(35, 35, 35);
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    border-color: rgb(25, 25, 25);
    color: white;
}

.filtersLabel {
    color: rgb(221, 221, 221);
}

.listItemCoverImage {

}

.labelNoGames {
    color: rgb(220,220,220);
}