
.formTitle {
    color: white;
    text-shadow: 2px 2px red;
}

.formLabel {
    color: rgb(239, 239, 239)
}

.formButton {
    background-color: rgb(59,59,59);
}

.formLineEdit {
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-radius: 1px;
    color: white;
}

.coverListItem {
    background-color: rgb(59, 59, 59);
    border-radius: 4px;
}

.itemTitle {
    color: rgb(232, 232, 232);
}

.coverListItem:hover {
    border: 1px solid rgb(85, 0, 127);
    background-color: rgb(70, 70, 70);
}

.itemTitle:hover {
    color: rgb(255, 255, 255);
}

.labelButton {
    color: rgb(221, 221, 221);
    font-size: 12px;
    border-style: none;
    text-align: right;
}

.labelButton:hover {
    color: white;
    font-size: 14px;
}

.coverList {
    background-color: transparent;
}

.sidebar, .sidebar * {
    background-color: rgb(20, 20, 20);
    color: white
}

.formHolder {
    /*background-color: rgb(45, 45, 45);*/
    background-color: qlineargradient( x1:0 y1:0, x2:1 y2:0, stop:0 black, stop:0.15 rgb(30,30,30), stop:0.25 rgb(45,45,45));
}

.transparentFrame {
    background-color: transparent;
    border: 0;
}

/*
.formHolder * {
    background-color: transparent;
    color: white
}
*/